body {
    background-image: url(../img/background.png);
    background-repeat: repeat
}

.detail-class {
    width: 90%
}

.home-button {
    position: fixed;
    z-index: 999;
    bottom: 2em;
    right: .8em;
    font-size: 2em
}

.container-iframe {
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 56.25%
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%
}

.time {
    font-size: 4em;
}

